* {
    margin: 0;
    padding: 0;
}
/* container */
.container {
    margin: 0 auto;
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
}
/* row */
.row {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}
/* col-12 */
.col-12 {
    width: 100%;
    height: 60px;

    display: block;
}
h1 {
    background-color: green;
    margin-left: 30px;
}
/* wrap */
.wrap {
    width: 100%;
}
/* form */
form {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    border: 1px solid black;

}
/* col-4 */
.col-4 {
    display: flex;
    width: calc((4/12)*100%);
}
/* col-8 */
.col-8 {
    display: flex;
    width: calc((8/12)*100%);
}
/* left */
.left {
    width: 100%;
    border-right: 1px solid black;
}
.left P {
    text-align: left;
    margin: 5px 5px 5px 5px ;
}
.left div,
.right div {
    border-bottom: 1px solid black;
}
h3 {
    text-align: center;
}
.right {
    width: 100%;
}
.right div {
    text-align: left;
}
.right div input,
.right div textarea {
    margin: 5px 0 5px 5px ;
    width: 50%;
}
input {
    height: 19px;
}
.file {
    height: 33px;
}
.right .age input {
    width: 10%;
}
.right .gender input ,
.right .hobbi input {
    width: 5%;
}
.left .gender {
    height: 53px;
}
.left .hobbi {
    height: 77px;
}
.left .note {
    height: 67px;
}
